syn/u16.asm.rpt
syn/u16.done
syn/u16.fit.rpt
syn/u16.fit.smsg
syn/u16.fit.summary
syn/u16.flow.rpt
syn/u16.jdi
syn/u16.map.rpt
syn/u16.map.smsg
syn/u16.map.summary
syn/u16.pin
#syn/u16.sof
syn/u16.sta.rpt
syn/u16.sta.summary
source/db
syn/db/*
syn/greybox_tmp
syn/greybox_tmp/*
syn/incremental_db
syn/incrementa_db/*
syn/u16.map
syn/u16.qws
